<ul class="contact-list">
  {% if site.email %}
    <li>
      <a href="mailto:{{ site.email }}">
        <span class="icon icon--email">{% include icon-email.svg %}</span>
        <span class="label">{{ site.data.theme.t.email | default: 'Email' }}</span>
      </a>
    </li>
  {% endif %}

  
  {% if site.facebook_username %}
    <li>{% include icon-facebook.html username=site.facebook_username label='Facebook' %}</li>
  {% endif %}

  {% if site.github_username %}
    <li>{% include icon-github.html username=site.github_username label='GitHub' %}</li>
  {% endif %}

<!--<div class="subscriptionbox">
  <h2>Subscribe Us</h2>
Get our newsletters right into your inbox by subscribing us.
<form action="https://feedburner.google.com/fb/a/mailverify" id="feedform" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=SparklersweAreTheMakers', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<input gtbfieldid="3" class="betextarea" name="email" onblur="if (this.value == &quot;&quot;) {this.value = &quot;Enter email address here&quot;;}" onfocus="if (this.value == &quot;Enter email address here&quot;) {this.value = &quot;&quot;;}" value="Enter email address here" type="text">
<input type="hidden" value="SparklersweAreTheMakers" name="uri"><input type="hidden" name="loc" value="en_US">
<input class="besubmit" value="Submit" type="submit">
</form>
</div>-->


</ul>
