
<section class="newsletter" id="mc_embed_signup">
  <h2 class="newsletter_title">Newsletter</h2>
  <form action="https://feedburner.google.com/fb/a/mailverify" id="feedform" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=SparklersweAreTheMakers', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <label for="mce-EMAIL">Subscribe here to get our latest updates</label>
    <div class="newsletter_box" id="mc_embed_signup_scroll">
      <input type="email" name="email" placeholder="Email address" class="email_input" id="mce-EMAIL" required>
      <input type="hidden" value="SparklersweAreTheMakers" name="uri"><input type="hidden" name="loc" value="en_US">
      <input type="submit" value="Subscribe" name="subscribe" class="subscribe_btn" id="mc-embedded-subscribe">
    </div>
  </form>
</section> <!-- End Section Newsletter -->

