.main_footer {
	background-color: #1c1c1c;
        
}

.social_footer {
        background-color: #1c1c1c;
	padding: 3rem 0;
	list-style: none;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #333333;
}

.social_footer li {
	display: inline-block;
	margin-left: 0.5rem;
}

.social_footer a {
	color: #7b7b7b;
	display: inline-block;
	padding: 0.5rem 1rem;
	margin: 0.3rem 0;
	text-decoration: none;
	font-size: 1.75rem;
	border-radius: 0.3rem;
	background-color: #262626;
	transition: all .35s ease-in-out;
}

.social_footer a:hover {
	background-color: #c0334a;
	color: #ffffff;
}

.copyright {
        background-color: #1c1c1c;
	padding: 1rem 0;
	text-align: center;
}

.copyright p {
	color: #ffffff;
	font-size: 0.7rem;
	text-transform: uppercase;
	margin: 0;
}

.copyright a {
	text-decoration: none;
	color: #c0334a;
	transition: all .35s ease-in-out;
}

.copyright a:hover {
	color: rgba(192, 51, 74, 0.75);
}

.newsletter {
	padding: 2rem 0;
	text-align: center;
	color: #ffffff;
}

.newsletter .newsletter_title {
	text-transform: uppercase;
	font-size: 2.1rem;
	margin: 0 0 1rem;
}

.newsletter form {
	width: 700px;
	max-width: 90%;
	margin: 0 auto;
}

.newsletter form label {
	display: block;
	font-size: 1.35rem;
	font-weight: 400;
}

.newsletter form .newsletter_box {
	padding: 2rem 0;
	position: relative;
}

.newsletter form .email_input {
	width: 100%;
	padding: 1.35rem 3rem;
	border-radius: 2.5rem;
	background-color: #333333;
	color: #6e6e6e;
	border: none;
	outline: none;
}

.newsletter form .subscribe_btn {
	width: 170px;
	padding: 1.35rem;
	color: #ffffff;
	font-size: 0.9rem;
	text-align: center;
	text-transform: uppercase;
	background-color: #c0334a;
	cursor: pointer;
	border-radius: 2.5rem;
	border: none;
	outline: none;
	position: relative;
	top: 33px;
	right: 0;
	transition: background .35s ease-in-out;

}

.newsletter form .subscribe_btn:hover {
	background-color: rgba(192, 51, 74, 0.75);
}

.newsletter form .subscribe_btn:active {
	background-color: rgba(192, 51, 74, 0.5);
}
