/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
  margin-top: 4rem;
  color: tint($text-color, 40%);
  font-size: 80%;

  .inner {
    padding: 0 0.5rem;

    @include breakpoint($small) {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    @include breakpoint($medium) {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    @include breakpoint($large) {
      padding-right: 3rem;
      padding-left: 3rem;
    }

    @include breakpoint($xlarge) {
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
  padding:0;
  margin:0; background:url(http://onlyfreewallpaper.com/walls/blur-winter-HD.jpg) no-repeat;
  background-size:cover;
  -webkit-font-smoothing: antialiased !important;
}
.subscriptionbox{
  width:320px;
  padding:20px 35px;
  margin:20px auto;
  background:#fff;
  box-shadow:inset 0px 0px 10px 10px rgba(0,0,0,0.2);
  color:#666;
  font:400 13px 'open sans',sans-serif;
  line-height:20px !important;
}
.subscriptionbox h2{
  font:400 30px 'varela round',sans-serif;
  color:#333;
  text-align:center;
  text-transform:uppercase;
  padding:10px 0;
  margin-bottom:10px;
  border-bottom:1px solid #666;
}
.subscriptionbox .betextarea{
  background:#222 url(http://www.rhism.com/images/email-icon.png) no-repeat;
  background-size:20px;
  border:none;
  background-position:20px 13px;
  height:10px;
  width:250px;
  padding:20px 10px;
  color:#fff;
  text-indent:40px;
  outline:none;
  margin-top:10px;
}
.besubmit{
  padding:0;
  height:40px;
  line-height:40px !important;
  width:250px;
  text-align:center;
  font:400 15px 'open sans',sans-serif;
  background:#e74c3c;
  color:#fff;
  border:none;
  display:block;
  text-transform:uppercase;
  margin-top:5px;
  border-radius:5px;
  cursor:pointer;
  position:relative;
    -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.besubmit:hover{
  background:#c0392b;
}
.copyright {
  font-family: $monospace-font-family;
}
