.bg-light-gray {
	background-color: #f7f7f7;
}
section {
	h2 {
		&.section-heading {
			margin-top: 0;
			margin-bottom: 15px;
			font-size: 40px;
		}
	}
	h3 {
		&.section-subheading {
			margin-bottom: 75px;
			text-transform: none;
			font-family: $monospace-font-family;
			font-size: 16px;
			font-style: italic;
			font-weight: 400;
		}
	}
}
.text-muted {
        font-size:15px;
	color: #777;
}
.team-member {
	margin-bottom: 50px;
	text-align: center;
	img {
		margin: 0 auto;
		border: 7px solid #fff;
	}
	h4 {
		margin-top: 25px;
		margin-bottom: 0;
		text-transform: none;
	}
	p {
		margin-top: 0;
	}
}
.portfolio-modal {
	.modal-content {
		ul {
			&.list-inline {
				margin-top: 0;
				margin-bottom: 30px;
			}
		}
	}
}
ul {
	&.social-buttons {
		margin-bottom: 0;
		li {
			a {
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				font-size: 20px;
				line-height: 40px;
				outline: 0;
				color: #fff;
				background-color: #222;
				-webkit-transition: all .3s;
				-moz-transition: all .3s;
				transition: all .3s;
			}
		}
	}
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
	background-color: #fed136;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: 0;
}
p {
	&.large {
		font-size: 16px;
	}
}


.row {

	margin-left: -15px;
	margin-right: -15px;
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.text-center {
	text-align: center;
}
.col-lg-offset-2{margin-left:16.66666667%}
.img-responsive,.thumbnail>img,.thumbnail a>img,.carousel-inner>.item>img,.carousel-inner>.item>a>img {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}
.img-circle {
	border-radius: 50%;
}


.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
	& > li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}
}
dl {
	margin-top: 0;
	margin-bottom: 21px;
}
dt,dd {
	line-height: 1.42857143;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
}

.clearfix:before,.clearfix:after,.dl-horizontal dd:before,.dl-horizontal dd:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after {
	content: " ";
	display: table;
}
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after {
	clear: both;
}
.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after {
	content: " ";
	display: table;
}
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after {
	clear: both;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	.jumbotron {
		border-radius: 6px;
		padding-left: 60px;
		padding-right: 60px;
	}
}

//Team

.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
	& > li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}
}
dl {
	margin-top: 0;
	margin-bottom: 21px;
}
dt,dd {
	line-height: 1.42857143;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
}

.fa-linkedin:before {
  content: "\f0e1";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-instagram:before {
  content: "\f16d";
}
.clearfix:before,.clearfix:after,.dl-horizontal dd:before,.dl-horizontal dd:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after {
	content: " ";
	display: table;
}
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after {
	clear: both;
}
.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after {
	content: " ";
	display: table;
}
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after {
	clear: both;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	.jumbotron {
		border-radius: 6px;
		padding-left: 60px;
		padding-right: 60px;
	}
}
